html {
  height: 100%;
}

body {
  background-color: rgb(255, 255, 255);
  position: relative;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.border-wrap {
  background-color: rgb(255, 255, 255);
  padding: 0px 60px 60px 60px;
  margin-top: 0px;
}

.home-border-wrap {
  background-color: rgb(255, 255, 255);
  padding: 60px;
}

.home-main {
  background-color: rgb(234, 105, 40);
  border-color: rgb(255, 255, 255);
  margin: 30;
  border-style: solid;
  border-radius: 50px;
  padding: 20px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

main {
  background-color: rgb(234, 105, 40);
  border-color: rgb(255, 255, 255);
  border-style: solid;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  padding: 0px 20px 20px 20px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.business-main {
  background-color: rgb(255, 255, 255);
  display: grid;
  place-items: center; 
  height: 90vh;
}
.home-img {
  filter: grayscale(100%);
  margin-right: 575px;
  
}


.page-title {
  font-family: "Impact", sans-serif;
  font-size: 80px;
  color: black;
  margin-bottom: 0;
}

.photo-and-description {
  display: flex;
  align-items: center;
}
.photo-and-description img {
  margin: 70px
}
.about-text {
  margin: 70px
}

img {
  border-radius: 50px;
}
/* CSS for navigation bar */

.navbar {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  width: 100%;
  height: 7%;
  z-index: 10;

  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;

  background-color: rgb(0, 0, 0);
  color: white;
  padding: 0px 0px;
  border-bottom: 5px double #000;

  /* Debug border */
  /* border: solid red; */
}

.nav-list {
  display: flex;
  flex-direction: row;
  position: relative;
  right: 30px;
  list-style: none;
}

.navbar a {
  color: rgb(238, 236, 236);
  font-weight: bold;
  margin: 0 12px;
  text-decoration: none;
  letter-spacing: 2px;
}

h2 {
  font-size: 50px;
  font-family: "Impact", "Times New Roman";
}

p {
  padding: 10px;
  margin: 10px 0;
  font-size: 30px;
}

.business-card {
  text-align: center;
  font-family: "Times New Roman", "Arial";
  font-size: 20px;
}

/* CSS for page footer */

footer {
  text-align: center; /* Centers both text and image */
  padding-bottom: 0px;
  background-color: #f8f8f8; /* Background color */
  border-top: 1px solid #ccc; /* Optional top border */
}

footer p {
  font-size: 20px;
}

footer img {
  margin-top: 0px; /* Adds space between the text and image */
  padding-bottom: 10px;
  display: block;    /* Ensure the image is treated as a block element for centering */
  margin-left: auto; /* Centers the image horizontally */
  margin-right: auto; /* Centers the image horizontally */

}
